body {
    background-color: black;
    color: white;
}
#task-items-container {
    border: 3px solid white;
    height: 600px;
    width: 600px;
}
#items-wrapper {
    display: flex;
    flex-direction: column;

}
.task-item {
    border: 3px solid white;
    height: 100px;
}